.sidebar-wrapper .sidebar-header .logo a {
    font-size: 1.5rem;
}

.card-title {
    margin-bottom: 0;
}

.card .card-header~.card-body {
    padding-top: 1.5rem;
}

.highcharts-credits {
	display: none;
}

.dataTables_wrapper {
    font-size: 13px;
}
